language: java

jdk:
  - oraclejdk8

env:
  matrix:
    - PROFILE=non-existent
    - PROFILE=spring5-next


cache:
  directories:
    - $HOME/.m2

os:
  - linux

branches:
  except:
    - gh-pages
    
sudo: false
script: ./build.bash