---
# The name of your project
title: Spring Session MongoDB

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  #twitter: SpringData

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-session-data-mongodb
      icon: github

    - name: Issues (GitHub)
      url:  https://github.com/spring-projects/spring-session-data-mongodb/issues
      icon: tracking

    - name: CI (Travis)
      url:  https://travis-ci.org/spring-projects/spring-session-data-mongodb/
      icon: ci

    - name: StackOverflow
      url:  https://stackoverflow.com/questions/tagged/spring-session+mongodb
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

{% capture billboard_description %}

Spring Session MongoDB provides an API and implementations for managing a user’s session information stored in MongoDB by leveraging Spring Data MongoDB.

{% endcapture %}

{% capture main_content %}

Spring Session MongoDB provides an API and implementations for managing a user’s session information stored in MongoDB.

## Features

Spring Session MongoDB provides the following features:

* API and implementations for managing a user's session
* **HttpSession** - allows replacing the HttpSession in an application container (i.e. Tomcat) neutral way
 * **Clustered Sessions** - Spring Session makes it trivial to support clustered sessions without being tied to an application container specific solution.
 * **Multiple Browser Sessions** - Spring Session supports managing multiple users' sessions in a single browser instance (i.e. multiple authenticated accounts similar to Google).
 * **RESTful APIs** - Spring Session allows providing session ids in headers to work with RESTful APIs
* **WebSocket** - provides the ability to keep the HttpSession alive when receiving WebSocket messages

{% include download_widget.md %}

{% endcapture %}

{% capture related_resources %}


{% endcapture %}


{% include project_page.html %}
</html>
